@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: #263a1b;
    --secondary-color: #000000;
    --accent1-color: #c5d1eb;
    --accent2-color: #92afd7;

    --heading-font: sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;

    --nav-background-color: #c5d1eb;
    --nav-link-color: #5a7684;
    --nav-hover-link-color: #1f2f16;
    --nav-hover-background-color: #92afd7;
}

body {
    font-family: var(--paragraph-font);
    max-width: 100%;
    padding: 40px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/*--------------------------------------------------------------------------------*/
/* HEADER CONTAINER*/

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--primary-color);
	align-items: center;
    justify-items: center;
    height: 300px;
}

header img {
	width: 200px;
    height: 200px;
    border-radius: 50%;
}

header nav {
    display: flex;
    flex-flow: wrap;
}

header nav a {
	padding: 12px 70px;
    color: var(--secondary-color);
    background-color: var(--accent1-color);
    border: 1px solid var(--primary-color);
	text-decoration: none;
    border-radius: 0.3rem;
}

/*--------------------------------------------------------------------------------*/

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    padding: 40px;
    top: 10%;
    width: 100%;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    opacity: 0.9;
    font-size: 3rem;

}

.hero article {
    position: absolute;
    box-sizing: border-box;
    top: 30%;
    right: 10%;
    left: 10%;
    width: 80%;
    padding: 10px;
    background: var(--accent2-color);
    opacity: 0.8;
    border: 1px solid #000;
    box-shadow: 0 0 30px #111;
}

.hero article img {
    width: 20%;
    height: 20%;
    object-fit: contain;
    float: right;

}

.hero article p {
    color: var(--secondary-color);
    font-style: italic;
    padding: 1rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/*--------------------------------------------------------------------------------*/

.history {
    background: var(--accent1-color);
    height: 450px;
    width: auto;
    margin: 1rem 0;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.history h2 {
    position: absolute;
    justify-self: center;
    align-self: flex-start;
}

.history img {
    width: 70%;
    justify-self: center;
    align-self: center;
}

.history p {
    align-self: center;
    justify-self: flex-start;
}

/*--------------------------------------------------------------------------------*/

.adventure {
    background: var(--accent1-color);
    height: 350px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;
}
.adventure h2 {
    position: absolute;
    justify-self: center;
    align-self: flex-start;
}

.adventure img {
    width: 100%;
    height: auto;
}

.adventure figcaption {
    text-align: center;
}

/*-------------------------------------------------------------------------------*/
/*FOOTER CONTAINER*/

footer {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 3fr 1fr;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    margin: 1rem auto;
    height: 150px;

}
footer p {
    align-self: center;
    justify-self: center;
    position: absolute;
}

footer nav {
    grid-column: 2/3;
}

footer img {
    width: 35px;
    height: auto;
    margin-left: 1rem;
}

footer a {
    text-decoration: none; 
}

/* CONTACT.HTML */
/*-------------------------------------------------------------------------------*/

/* COMPANY INFO */
.company-info {
    background-color: var(--accent1-color);
    width: auto;
    height: 400px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.info {
    justify-self: center;
    padding: 50px;
}

.info h2 {
    color: var(--primary-color);
}

.info img {
    float: left;
    padding-right: 15px;
}

.info p {
    padding: 10px;
}

.map {
    justify-self: end;
    margin: 25px;
}

/*-------------------------------------------------------------------------------*/
/*EMPLOYEE IMAGES*/

.employee
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.employee img {
    width: 100%;
    height: auto;
    justify-self: center;
    border-radius: 0.2rem;
}

.employee figcaption {
    font-style: italic;
}

/*-------------------------------------------------------------------------------*/
/*FORM*/

.container-form {
    background-color: var(--accent1-color);
}

.container-form h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: var(--primary-color);
}

.container-form p {
    width: 550px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.type-box {
    display: flex;
    padding-bottom: 10px;
    width: 550px;
    margin: auto;

}

.type-box label {
    display: block;
}

.type-name {
    flex-basis: 35%;
}

.type-name input {
    width: 80%;
    padding: 7px;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

.type-mail {
    flex-basis: 65%;
}

.type-mail input {
    width: 100%;
    padding: 7px;
    border-radius: 0.2rem;
    box-sizing: border-box;
}

/*-------------------------------------------------------------------------------*/
/*RADIO*/
/*Radio container*/
.radio-box {
    display: flex;
    justify-content: space-between;
    width: 550px;
    margin: auto;
}

/*-------------------------------------------------------------------------------*/
/*TYPE THE MESSAGE*/

.message {
    width: 550px;
    margin: auto;
}

.message textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 0.2rem;
}
/*-------------------------------------------------------------------------------*/
/*CHECKBOX*/

.checkbox {
    width: 550px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

/*-------------------------------------------------------------------------------*/
/*BUTTON*/

.button {
    width: 550px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 50px;
}

.button button {
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.2rem;
}

/*-------------------------------------------------------------------------------*/
/*LINK WIREFRAME*/

.wireframe-CU {
    color: var(--accent2-color);
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    padding: 15px;
}


/*-------------------------------------------------------------------------------*/
/* MAIN:TRIPS CSS */

.container-trips {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;   
}

.trips-left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
}

.trips-descrip {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* .trips-right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
} */

.trips-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.trips-cta p {
    padding: 0px 40px 0px 40px;
    margin-bottom: 125px;
    text-align: center;
}

.trips-cta nav a {
    height: auto;
    width: 100%;
    padding: 15px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border: 1px var(--primary-color);
	text-decoration: none;
    border-radius: 0.4rem;
}

.trips-table {
    margin-top: 70px;
    padding-top: 25px;
}

.trips-table caption {
    font-style: italic;
    caption-side: bottom;
    padding-top: 15px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 2px solid black;
    width: 400px;
    padding: 10px;
}

.table-titles {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-weight: bold;
}

.table-plan, .table-day  {
    text-align: center;
    background-color: var(--accent1-color);
    color: var(--primary-color);
    font-weight: bold;
}

.wireframe-T {
    color: var(--accent2-color);
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    padding: 15px;
}


/*-------------------------------------------------------------------------------*/
/* MAIN: HOMEPAGE CSS */

.container-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 25px;
}

.home-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-cta p {
    height: auto;
    width: 450px;
}

.home-cta strong {
    color: var(--primary-color);
    font-size: large;
}

.home-cta nav {
    height: auto;
    width: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-cta nav a {
    height: auto;
    width: 100%;
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: var(--accent1-color);
    border: 1px var(--primary-color);
	text-decoration: none;
    border-radius: 0.4rem;
}

.home-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 550px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: var(--accent1-color);
    border-radius: 0.2;
}

.home-signup p {
    padding: 50px 90px 0px 90px;
}

.home-signup strong {
    color: var(--primary-color);
    font-size: large;
}

.home-signup input {
    padding: 8px;
    width: 350px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.home-signup button {
    padding: 15px;
    width: 368px;
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.4rem;
}

.home-purpose {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 50px;
}

.p-purpose {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.p-purpose strong {
    color: var(--nav-hover-link-color);
    font-size: large;
}

.home-offerings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 50px;
}

.home-offerings p {
    width: 500px;
    margin-top: 50px;
}

.home-offerings ul {
    width: 470px;
    margin-bottom: 50px;
}

.home-offerings li {
    padding: 5px;
}

.wireframe-H {
    color: var(--accent2-color);
    position: absolute;
    justify-self: center;
    align-self: flex-end;
    padding: 15px;
}